/*NAV*/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(135, 206, 250, 1);
    background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(135, 206, 250, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(135, 206, 250, 1) 100%);
    border-width: 0px;
    border-radius: 27px;
    box-shadow: 10px 10px 5px #888888;
}
#custom-bootstrap-menu.navbar-default .nav-pills>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(135, 206, 250, 1);
    background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(135, 206, 250, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(135, 206, 250, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .nav-pills>li>a:hover,
#custom-bootstrap-menu.navbar-default .nav-pills>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(242, 242, 242, 1);
    background: -webkit-linear-gradient(top, rgba(135, 206, 250, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(to bottom, rgba(135, 206, 250, 1) 0%, rgba(242, 242, 242, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .nav-pills>.active>a,
#custom-bootstrap-menu.navbar-default .nav-pills>.active>a:hover,
#custom-bootstrap-menu.navbar-default .nav-pills>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(242, 242, 242, 1);
    background: -webkit-linear-gradient(top, rgba(135, 206, 250, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(to bottom, rgba(135, 206, 250, 1) 0%, rgba(242, 242, 242, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #f2f2f2;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #f2f2f2;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #f2f2f2;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #87cefa;
}

/*Aesthetics*/

#watermark
{
 position: inherit;
 bottom:5px;
 right:5px;
 opacity:0.5;
 padding-left: 10px;
 z-index:99;
 color: darkslategrey;
}

.med-pic
{
    width: 25%;
    height: 25%;
}

#row
{
    display: inline;
    float: none;
    flex-wrap: nowrap;
}

.text-align{

}

.scrollbox{
  overflow: auto;
  width: 260px;
  height: 250px;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

#barcode{
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 100%;
    color: black
}

#nav-text{
    font-family: 'Monofett', cursive;
    font-size: 200%;
    color: black
}

#page-text{
    font-family: 'Permanent Marker', cursive;
    font-size: 400%;
    color: black
}

#marker{
    font-family: 'Permanent Marker', cursive;
    color: black;
}