{% extends 'base.html' %}
{% block content %}
    <div>
    <h1 id="page-text">Who am I?</h1>
    <img class="med-pic" src="/static/images/profile.jpg"> <img id="row" class="med-pic" src="/static/images/roadman.jpg">
    <img id="row" class="med-pic" src="/static/images/street.jpg">
    <p class="scrollbox">
    Alex Miller: Passionate Musician, Addicted Developer, Hopeless Nerd and Serial Smiler.<br><br>

    I used to work in music, as a rave MC. After deciding my body and mind couldn't take it much longer, I decided to get a 'real' job, commencing 5 years of sales and recruitment.

    <br><br>At 29, with a heavy heart and cautious mind, I left my corporate friends and colleagues to pursue passions old and new: music and web development.

    <br><br>I'm a recording artist with an ep available on my Products & Bookings page, am available for live bookings as a solo act or with a band, and in regards to web development - you're looking at part of my portfolio right now!

    <br><br>PSST! To all the devs out there:
    <br><br>I'm proficient in Python, HTML, CSS and JS, including extensive use of libraries such as Bootstrap.
    <br><br>I know my way around the Django and Flask frameworks, and mainly use MongoDB and MySQL for my Databases
    <br><br>If you like the look of my work, get in touch!
    </p>
{% endblock %}