{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>6Salt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Monofett|Monoton|Permanent+Marker|Zilla+Slab+Highlight" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}{% endblock %}
</head>
<body>

<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a id="marker" class="navbar-brand" href="{% url 'blog' %}">Six strings and a laptop</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul id="nav-text" class="nav nav-pills pull-right">
                <li><a href="{% url 'blog' %}">Home</a></li>
{#                <li><a href="{% url 'index' %}">Home</a></li>#}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
                <li><a id="barcode" href="{% url 'products' %}">Products & Booking</a></li>
            </ul>
        </div>
    </div>
</div>


   <hr>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}


   <div class="container">
       {% block content %}
       {% endblock %}
   </div>
   <hr>
   <footer id="footer">
       <p>Alex Miller<br><span class="glyphicon glyphicon-phone"></span>  <a class="wmLink" id="watermarkLink" href="tel:0757-6861-159">0757-6861-159</a>  <span class="glyphicon glyphicon-phone"></span><br><span class="glyphicon glyphicon-envelope"></span>  <a class="wmLink" id="watermarkLink" href="mailto:alexander.dean.miller@gmail.com">alexander.dean.miller@gmail.com</a>  <span class="glyphicon glyphicon-envelope"></span></p>
   </footer>

{#        <footer id="footer" class="page-footer">#}
{#          <div class="container">#}
{#            <div class="row">#}
{#              <div class="col l6 s12">#}
{#                <h5 class="white-text">Footer Content</h5>#}
{#                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>#}
{#              </div>#}
{#              <div class="col l4 offset-l2 s12">#}
{#                <h5 class="white-text">Links</h5>#}
{#                <ul>#}
{#                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>#}
{#                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>#}
{#                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>#}
{#                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>#}
{#                </ul>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="footer-copyright">#}
{#            <div class="container">#}
{#            © 2014 Copyright Text#}
{#            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>#}
{#            </div>#}
{#          </div>#}
{#        </footer>#}

</div>
</body>

<!-- script references moved to head -->

</html>