{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SixSalt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Monofett|Monoton|Permanent+Marker|Zilla+Slab+Highlight" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/custom.js"></script>
    {% block head_js %}{% endblock %}
</head>

<body>
    <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"><a id="marker" class="navbar-brand" href="{% url 'blog' %}">Six strings and a laptop</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul id="nav-text" class="nav nav-pills pull-right">
                    <li><a href="{% url 'blog' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
                    <li><a id="barcode" href="{% url 'products' %}">Products & Booking</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

   <div class="container">
       {% block content %}
       {% endblock %}
   </div>

   <hr>
   <footer id="footer">
       <p>Alex Miller<br><span class="glyphicon glyphicon-phone"></span>  <a class="wmLink" id="watermarkLink" href="tel:0757-6861-159">0757-6861-159</a>  <span class="glyphicon glyphicon-phone"></span><br><span class="glyphicon glyphicon-envelope"></span>  <a class="wmLink" id="watermarkLink" href="mailto:alexander.dean.miller@gmail.com">alexander.dean.miller@gmail.com</a>  <span class="glyphicon glyphicon-envelope"></span></p>
   </footer>

</body>

<!-- script references moved to head -->

</html>