{% extends "base.html" %}

{% block content %}

    <h1 id="page-text">Six Strings and a Laptop</h1><br>

    <img class="med-pic" src="/static/images/park.jpg"> <img id="row" class="med-pic" src="/static/images/couple.jpg">
    <img id="row" class="med-pic" src="/static/images/sunnies.jpg">

    <p class="scrollbox">
    Hello and welcome!

    <br><br>Six Strings and a Laptop is exactly what it sounds like - I'm a musician, singer and web developer!

    <br><br>Scroll down to see my upcoming shows and general ramblings, and get in touch if you require my services!

    </p>

    <hr>

    <h1 id="page-text">My adventures through time and space</h1><br>
    {% for post in posts %}
        <div class="center">
            <div>
                {{ post.published_date }}
            </div>
            <h1 id="blog-titles">{{ post.title }}</h1>
            <p>{{ post.content|linebreaks|truncatewords:30 }}</p>
            <p><button class="coolButton" onclick="location.href={{ post.id }}">Read More</button></p>
        </div>
    {% endfor %}
{% endblock %}