{% extends "base.html" %}

{% block content %}

    <h1 id="page-text">Six Strings and a Laptop</h1><br>

    <div class="container">
        <a href="products"><img class="med-pic" src="/static/images/park.jpg" onmouseover="this.src='/static/images/king_kong.jpg'" /></a> <img id="row" class="med-pic" src="/static/images/couple.jpg" onmouseover="this.src='/static/images/band.jpg'">
        <a href="products"><img id="row" class="med-pic" src="/static/images/sunnies.jpg" onmouseover="this.src='/static/images/EPtext.jpg'" ></a>

    <div class="scrollbox2">

    <p id="bios">
    Hello and welcome!

    <br><br>Six Strings and a Laptop is exactly what it sounds like - I'm a musician, singer and web developer!

    <br><br>Please view my site to take a look at my development skills, and click below to hear my music while you do:

    <br><br><iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fthe-merry-morbid&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe>
    </p>

    </div>

    <hr>
        <p><span class="glyphicon glyphicon-arrow-down"></span> <span id="rightSide" class="glyphicon glyphicon-arrow-down"></span></p>
    <hr>

{#        <p><span class="glyphicon glyphicon-arrow-down"></span>#}
{#    <hr>#}
{#        <span id="rightSide" class="glyphicon glyphicon-arrow-down"></span></p>#}
{#    <hr>#}
    <h1 id="page-text">My adventures through time and space</h1><br>
    {% for post in posts %}
        <div class="center">
            <div>
                {{ post.published_date }}
            </div>
            <h1 id="blog-titles">{{ post.title }}</h1>
            <p>{{ post.content|linebreaks|truncatewords:30 }}</p>
            <p><button class="coolButton" onclick="location.href={{ post.id }}">Read More</button></p>
        </div>
    {% endfor %}
{% endblock %}