{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}

    <h1 class="myImage1" id="page-text">How to contact me</h1><br>
    <a href="products"><img class="row" id="myImage1" src="/static/images/train.jpg" onmouseover="this.src='/static/images/king_kong.jpg'"></a> <a href="products"><img class="row" id="myImage2" src="/static/images/live3.jpg" onmouseover="this.src='/static/images/band.jpg'"></a>
    <a href="products"><img class="row" id="myImage3" src="/static/images/train2.jpg" onmouseover="this.src='/static/images/EPtext.jpg'"></a>

    <div class="scrollbox2">

    <p class="myImage4" id="bios">
    <br><br>It'd be great to hear from you, so get in touch!

    <br><br>You can reach me on:
    <br>Alex Miller
    <br>alexander.dean.miller@gmail.com
    <br>0757-6861-159

    <br><br>You can also send me a direct email via the form below.
    <br><br>I look forward to speaking with you.
    </p>

    </div>

    <hr>
        <p><span class="glyphicon glyphicon-arrow-down"></span> <span id="rightSide" class="glyphicon glyphicon-arrow-down"></span></p>
    <hr>

    <div class="myImage3" id="contactForm">
    <form class="decoration" role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="coolButton" type="submit">Submit</button>
    </form>
    </div>

{% endblock %}