{% extends 'base.html' %}
{% block content %}
    <h1 id="page-text">Six Strings and a Laptop</h1><br>
    <img class="med-pic" src="/static/images/park.jpg"> <img id="row" class="med-pic" src="/static/images/couple.jpg"> <img id="row" class="med-pic" src="/static/images/sunnies.jpg">

    <div class="scrollbox">

    <p>
    Hello and welcome!

    <br><br>Six Strings and a Laptop is exactly what it sounds like - I'm a musician, singer and web developer!

    <br><br>Work is always welcome in either field, so take a look around and see if I can be of service to you, cheers!
    </p>

    </div>

{% endblock %}